<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>User:</strong>
    <%= @user.email %>
  </p>

 <div class="field">
    <%= radio_button_tag(:role, "Otaku") %>
    <%= label_tag(:role_otaku, "I'm a Otaku") %>
    <%= radio_button_tag(:role, "Admin") %>
    <%= label_tag(:role_admin, "I'm a Adm") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>