<p id="notice"><%= notice %></p>

<h1>Otakus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @otakus.each do |otaku| %>
      <tr>
        <td><%= otaku.name %></td>
        <td><%= otaku.birthday %></td>
        <td><%= link_to 'Show', otaku %></td>
        <td><%= link_to 'Edit', edit_otaku_path(otaku) %></td>
        <td><%= link_to 'Destroy', otaku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Otaku', new_otaku_path %>
