<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anime.title %>
</p>

<p>
  <strong>Following:</strong>
  <%= @anime.follow %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @anime.favorite %>
</p>

<p>
  <strong>Released In:</strong>
  <%= @anime.release %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>
